<h1><%= @recipe.name %> </h1>
<h2>Edit Recipe</h2>
  <form method="post" action="/recipes/<%= @recipe.id %>">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <!-- To do: Add `label for=` tags to input fields -->
    <!-- To do: Embiggen `textarea` -->
    <p>Name:<input type="text" name="name" value="<%= @recipe.name %>"></p>
    <p>Description: <input type="textarea" name="description" value="<%= @recipe.description %>"></p>
    <p>Ingredients:<br>
      
      <!-- To do: preload and display a list of all available ingredients to user 
      https://www.brewcabin.com/malted-barley/ -->
      
      <% @ingredients.each do |ingredient| %>
        <input type="text" name="ingredient[name][]" value=<%= ingredient.name %>>
        <input type="text" name="ingredient[quantity][]" id="ingredient_quantity" value="<%= ingredient.quantity %>">
        <br>
      <% end %>
      <p>Public: <input type="radio" name="is_public?" value=true <%='checked' if @recipe.is_public? %>>
         Private: <input type="radio" name="is_public?" value=false <%='checked' if @recipe.is_public? %></p>
      <br>
      <br>
    <input type="submit" value="Submit edits">
  </form>