<h1><%= @recipe.name %> </h1>
<h2>Edit Recipe</h2>
  <form method="post" action="/recipes/<%= @recipe.id %>">
    <input type="hidden" name="_method" value="patch">
    <!-- To do: Add `label for=` tags to input fields -->
    <!-- To do: Embiggen `textarea` -->
    <p>Name:<input type="text" name="name" value="<%= @recipe.name %>"></p>
    <p>Description: <input type="textarea" name="description" value="<%= @recipe.description %>"></p>
    <p>Ingredients:<br>
      
      <!-- To do: display a list of all available ingredients to user -->
      
      <% @ingredients.each do |ingredient| %>
        <input type="checkbox" name="ingredient[:name]" %><%= ingredient.name %>
        <input type="text" name="ingredients[quantity]" id="ingredient_quantity" value="<%= ingredient.quantity %>">
        <br>
        <!-- <select name="ingredients[measure][]" id="ingredient_measure">
          <option disabled selected value> -- select a measurement -- </option>
          <option value="lbs">lbs</option>
          <option value="oz">oz</option>
          <option value="kg">kg</option>
          <option value="g">g</option>
        </select><br> -->
      <% end %>
    <input type="submit" value="Submit edits">
  </form>