<h1><%= @recipe.name %> </h1>
<h2>Edit Recipe</h2>
  <form method="post" action="/recipes/<%= @recipe.id %>">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <!-- To do: Embiggen `textarea` -->
    <label for="name"><p><strong>Name: </label>
      <input type="text" name="name" id="name" value="<%= @recipe.name %>"></strong></p>
    <label for="style"><p><strong>Style<a href="https://www.homebrewersassociation.org/from-the-director/2018-national-homebrew-competition-styles/">[*]</a>: </label>
      <input type="text" name="style" id="style" value="<%= @recipe.style %>"></strong></p>
    <label for="description"><strong><p>Description: </label>
      <input type="textarea" name="description" id="description" value="<%= @recipe.description %>"></strong></p>
    <strong>Ingredients: </strong>
      <br>
      <br>
      <!-- To do: preload and display a list of all available ingredients to user 
      https://www.brewcabin.com/malted-barley/ -->
      
      <% @ingredients.each do |ingredient| %>
        <input type="text" name="ingredient[name][]" id="ingredient_name" value=<%= ingredient.name %>>
        <input type="text" name="ingredient[quantity][]" id="ingredient_quantity" value="<%= ingredient.quantity %>">
        <br>
      <% end %>
      <br>
      <label for="public">Public: </label>
        <input type="radio" name="is_public?" id="public" value=true <%='checked' if @recipe.is_public? %>>
      <label for="private">Private: </label>
        <input type="radio" name="is_public?" id="private" value=false <%='checked' if !@recipe.is_public? %>>
      <br>
      <br>
    <input type="submit" value="Submit edits">
  </form>