<h1>Recipes</h1> 
<container>
  <h2>Your Recipes</h2><a class="button" href="/recipes/new">New Recipe</a><br>
    <% @user_recipes.each do |recipe| %>
    <h3><a href="/recipes/<%= recipe.id %>"><%= recipe.name %></a></h3>
    <p>Creator: <%= recipe.user.username %></p>
    <% end %>
</container>

<container>
  <h2>Public Recipes</h2>
    <% @public_recipes.each do |recipe| %>
    <h3><a href="/recipes/<%= recipe.id %>"><%= recipe.name %></a></h3>
    <p>Creator: <%= recipe.user.username %></p>
    <% end %>
</container>