<h1>New Recipe</h1>
<br>
<h2>Details</h2>
  <form method="post" action="/recipes">
    <label for="name"><strong><p>Name: </label>
      <input type="text" name="name" id="name" required></p></strong>
    <label for="style"><strong><p>Style<a href="https://www.homebrewersassociation.org/from-the-director/2018-national-homebrew-competition-styles/">[*]</a>: </label>
      <input type="text" name="style" id="style" required></p></strong>
    <label for="description"><strong><p>Description: </p></strong></label>
      <textarea rows="4" cols="50" name="description" id="description" required></textarea><br><br>
    <strong><p>Ingredients:</p></strong>
      
      <!-- To do: preload and display a list of all available ingredients to user 
      https://www.brewcabin.com/malted-barley/ -->

      <% x = 1 %>
      <% 10.times do %>
      Ingredient <%= x %>:
      <select name="ingredients[name][]" id="ingredient_name<%= x %>">
      <option disabled selected value> -- select an ingredient -- </option>
      <% @ingredient_names.uniq.each do |ingredient_name| %>
        <option value="<%= ingredient_name %>"><%= ingredient_name %></option>
      <% end %>
      </select>
      <input type="number" name="ingredients[amount][]" id="ingredient_amount<%= x %>" step=0.1 value=0.00>
      <select name="ingredients[measure][]" id="ingredient_measure<%= x %>">
        <option disabled selected value> -- select a measurement -- </option>
        <option value="lbs">lbs</option>
        <option value="oz">oz</option>
        <option value="kg">kg</option>
        <option value="g">g</option>
      </select><br>
      <% x += 1 %>
      <% end %>
      <br>
      <p><label for="public">Public: </label>
           <input type="radio" name="is_public?" id="public" value=true checked>
         <label for="private">Private: </label>
           <input type="radio" name="is_public?" id="private" value=false></p>
    <input type="submit" value="Save Recipe">
  </form>