<h1><%= @recipe.name %></h1>
  <p>Style: <%= @recipe.style %><br>
    Description: <%= @recipe.description %><br>
    Creator: <%= @recipe.user.username %><br>
    Visibility: 
    <% if @recipe.is_public? == true %>
      <%= "Public" %>
      <% else %>
      <%= "Private" %>
    <% end %></p>
  <p><strong>Ingredients:</strong><br>
    <% @recipe.ingredients.each do |ingredient| %>
        <%= ingredient.name %>: <%= ingredient.quantity %><br>
      <% end %>
  </p>
  <br>
  <% if @recipe.user == current_user %>
    <form method="get" action="/recipes/<%= @recipe.id %>/edit">
      <input type="submit" value="Edit">
    </form>
    
    <form method="post" action="/recipes/<%= @recipe.id %>">
      <input id="hidden" type="hidden" name="_method" value="delete">
      <input type="submit" value="Delete">
    </form>
  <% end %>